:root{
    --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;

  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;

  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;

  --color-blue: #73aace;

  --color-yellow: #fff7d1;

  --color-orange: #feb546;
  --color-strong-orange: #dc2f02;

  --color-mint: #2ec4b6;
  --color-light-mint: #cbf3f0;

    /* Font size */

    --font-large: 48px;

    --font-medium: 28px;
  
    --font-regular: 18px;
  
    --font-small: 16px;
  
    --font-micro: 14px;
    /* Font weight */

    --weight-bold: 700;

    --weight-semi-bold: 600;
  
    --weight-regular: 400;
    /* size, 4px popular */

    --size-border-radius-4px: 4px;

    /* animatino  300ms*/
    --animation_duration-300ms: 300ms;

    --animation_1s_durationi: 1s;
  

}

/* universal tags */

*{
    box-sizing: border-box;
    transition: all .3s ease;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    cursor: default;
}
 a{
    text-decoration: none;

 }

 ul{
    list-style: none;
    padding-left: 0;
 }
 li{
    list-style: none;
 }

 button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

 }

 /* typography */
 h1{
    font-size: large;
    font-weight: bold;
    margin: 16px 0;
 }
p{
    font-size: var(--font-regular);
    color: black;
    margin: 4px 0;

 }

 /* logo img */

 .job .job__logo{
    width: 32px;
 }

 #navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    
    background-color: transparent;
    
    align-items: center;
    color: black;
    padding: 16px;
    transition: all .3s ease;
    z-index: 1;
 }

 .navbar__menu{
    display: flex;
 }

 .navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    
    border-radius: 4px;
    border: 1px solid red;
 }

 /* js72 */

 .navbar__menu__item:hover{
    border-color: blue;
    background-color: #73aace;
 }

 .navbar__logo{
    font-size: medium;
    font-weight: bold;
 }

 /* navbar toggle btn */

 .navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-mint);

    /* display: none; */
 }

 /* home */
 #home{
    padding: 40px;
    /* background-color: yellow; */
    padding-top: 120px;
    text-align: center;
    background: url("./img/back-dot.png") center;
 }

 .home__avatar{
    width: 30vw;
    border-radius: 50%;
    border: 2px solid black;
 }

 .home__title,
 .home__description{
    color: black;
 }

 .home__contact{
    
    border: 2px solid black;
    border-radius: var(--size-border-radius-4px);
    font-size: medium;
    font-weight: bold;
    margin: 24px;
    padding: 8px 120px;

 }

 /* section */
 .section{
    
    margin: auto;

    text-align: center;
    padding: 50px;
    padding-top: 80px;
 }

 .section__container{
    max-width: 1200px;
    margin: auto;
 }

 /* about */

 .about__majors{
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 0;
 }
 .major{
    margin-bottom: 38px;
 }

 .major__icon{
    
    width: 170px;
    height: 170px;

    line-height: 170px;

    border: 1px solid blue;
    border-radius: 50%;
    color: red;
    font-size: 70px;

    margin: auto;
    margin-bottom: 16px;
 }

 .major__icon:hover i{
    color: rgb(61, 187, 35);
    transform: rotate(-30deg) scale(1.5);
 }

/* about jobs */
.job{
    
    display: flex;
}

.job__description{
    margin: 0 16px;
    text-align: left;
}
.job__name,
.job--period{
    color: green;
}

/* skill */
#skills{
}
.skillset{
        /* background-color: yellow; */

        display: flex;
        margin: 20px 0;

}

.skillset__left{
    background-color: orange;
    flex-basis: 60%;
    padding: 20px 40px;
}
.skillset__right{
    flex-basis: 40%;
}
.skill{
    margin-bottom: 32px;
}

.skill__description{
    display: flex;
    justify-content: space-between;
}

.Skill__bar{
    width: 100%;
    height: 3px;
    background-color: grey;
}

.skill__value{
    height: 3px;
    background-color: #261563;
}

.tools{
    background-color: whitesmoke;
}

/* work */

/* flex */
.parents{
    flex-wrap: wrap;
    gap:1.5rem;
    justify-content: baseline;
    align-items: center;
}
.child{
    /* flex: 1; */
    flex: 1 1 30rem;
   
}
.category__btn{
    border: 1px solid white;
    border-radius: 4px;
    font-size: inherit;
    padding: 8px 48px;
}

.category__count{
    width: 24px;
    height: 24px;

    line-height: 24px;

    background-color: blue;
    border-radius: 50%;

    display: inline-block;

    position: relative;
    top: -20%;
    left: 4px;
    opacity: 0;
    transition: all 300ms ease;
}

.work__projects{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;

    opacity: 1;
    transition: all 1s ease;
}

/* js 70 */

.work__projects{
    opacity: 0.6;
    transform: scale(0.9) translateY(50px);
}

.project{

    
    width: 280px;

    margin: 2px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

/* css img */

.project__img{
  float: left;
  width:  200px;
  height: 200px;
  object-fit: cover;
}

/* js68 */
.project.invisible{
   display: none;
}

.project__description{
   width: 100%;
   height: 100%;
   background-color: #2ec4b6;

   position: absolute;
   top: 0;
   left: 0;

   /*  */
   display: flex;
   flex-direction: column;
   justify-content: center;

   /*  */
   opacity: 0;
   transform: translateY(-10px);
   
}

/*  */

.project:hover .project__description{
   opacity: 0.8;
   transform: translateY(0px);
}

.project__description h3,
.project__description span{
   color: white;
}

/* after */

.project__description h3:after{
   background-color: #cbf3f0;

   content: "";
   display: block;
   width: 25px;
   height: 2px;

   position: relative;
   left: 50%;
   margin-left: -12px;
   margin-top: 8px;
}

/* testi */
#testimonials{
   background-color: #fe918d;
}

/* arrow */

.arrow-up{
   background-color: yellow;

   width: 70px;
   height: 70px;

   font-size: 50px;

   position: fixed;
   bottom: 50px;
   right: 50px;

   border-radius: 50%;

   opacity: 0.3;

   pointer-events: none;


}

.arrow-up.visible{
    opacity: 1;
    pointer-events: auto;
}